<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>#{title}</title>
<!-- //Make sure index.pug is selected as html file in terminal section -->
    style 
        include ../static/style.css
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home </a></li>

            <li><a href="/">About </a></li>

            <li><a href="/">Contact us </a></li>
        </ul>
    </nav>

    <h1>This is Heading 2</h1>
<p>
    | #{content} <!-- This is plain HTML using PUG. -->
     
<form action="/" method="post" id="contact">
        <input type="text" name="name" id="name" placeholder="Enter your name"/><br><br>
        <input type="text" name="age" id="age" placeholder="Enter your age"/><br><br>
        <textarea name="adr" id="adr" cols="30" rows="10" placeholder="Enter your adress"></textarea><br><br>
        <button class="btn">Submit</button>
</form> 
    </p>

</body>
</html>
