<!DOCTYPE html>
<html>
<head>
	<title>#{title}</title>
    style 
        include../static/style.css  
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home </a></li>

            <li><a href="/">About </a></li>

            <li><a href="/">Contact us </a></li>
        </ul>
    </nav>

    <h1>This is Heading 2</h1>


    <p> 

    |#{content} <!-- This is plain HTML using PUG. -->
        
    </p>

</body>
</html>