<!DOCTYPE html>
<html>
<head>
	<title>#{title}</title>
    style 
        include../static/style.css  
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home </a></li>

            <li><a href="/">About </a></li>

            <li><a href="/">Contact us </a></li>
        </ul>
    </nav>

    <h1>This is Heading 2</h1>


    <p> 
	<fieldset>
		<legend>Form</legend>
		<p>Login Id:-<br><input type="text" name=""></p>
		<p>Password:-<br><input type="Password" name=""></p>
		<p>Name:<br><input type="text" name=""></p>
		<p>Age:<br><input type="number" name=""></p>
		<p>DOB:<br><input type="date" name=""></p>
		<P>Course:<br>
		<select>
			<option>-------select-------</option>
			<option>Graphic Design</option>
			<option>Data Science</option>
			<option>Quant Analyst</option>
		</select></P>
		<p>Hobbies:<br><input type="checkbox" name="">Swimming<input type="checkbox" name="">Gaming</p>
		<p>Gender:<br><input type="radio" name="g">Male<input type="radio" name="g">Female</p>
		<p>Email:<br><input type="text" name=""></p>
		<p>Address:<br><textarea rows="08" cols="80">  </textarea></p>
	    <input type="submit" name="">
	    <input type="color" name="">
	</fieldset>
    </p>
    
</body>
</html>