*{
    font-family: 'Times New Roman', Times,serif';
}
nav{
    background-color: gray;
}
ul{
    display: flex;
    flex-direction: row;
}
li{
    list-style: none;
    padding: 3px 4px;
}
a{
    text-decoration: none;
}
